.form {
  display: flex;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  border: none;
  padding: 5px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #102536;
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  padding: 5px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #cae4fa;
  transition: background-color 0.3s ease;
  color: #102536;
}

.button:hover {
  background-color: #77a9d1;
}
